body {
  background-image: url("images/picture1.png");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 1200px;
  background-attachment: fixed;
}
li a {
    color: DarkBlue;
    text-align: left;
    font-size: large;
}
